a {
	text-decoration: none;
}

.title {
	margin-top:100px;
}

hr.abovemenu {
	margin-bottom:1rem;
}

hr.belowmenu {
	margin-top:1rem;
}

.container {
	margin-bottom:50px;
}

/* MENU */
.menu {
	text-align: center;
}

hr.abovemenu {
	margin-bottom:1rem;
}

hr.belowmenu {
	margin-top:1rem;
}

.menu {
	color:#000;
	font-size:1.8em;
	text-transform: uppercase;
}

.menu a {
	color:#000;
	text-decoration: none;
}

.menu a.active {
	border-bottom:1px solid black;
}

.menu a:hover {
	color:#555;
}

/* ITEMS */
.item a {
	text-decoration: none;
	color:black;
}

.item:hover a h5 {
	color:#1EAEDB;
}

.item img {
	margin:-1px;
	border: 1px solid transparent;
}

.item:hover img {
	border: 1px solid #1EAEDB;
}

.text-header {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}

/* DOWNLOAD */
.download {
	background-color:#E0E0E0;
	border-radius:5px;
	padding:15px;
	display:inline-flex;
	justify-content:center;
}

.download p {
	text-decoration: none;
	color: #5F5F5F;
	display:inline-block;
	margin:0;
}

/* FOOTER */
.footer a {
	color: black;
	margin:0 10px;
}

.footer {
	text-align:center;
}

form .column,
form .columns {
margin-left: 2%; 
}

form .column:first-child,
form .columns:first-child {
margin-left: 0; 
}

form .two.columns {
	width: 15%; 
}

form select:disabled {
	color:lightgray;
	border-color:#EEE;
}